@model Part

@{
    ViewData["Title"] = "Szczegóły Części";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły Części</h1>

<div>
    <h4>Dane</h4>
    <hr class="border-secondary"/>
    <dl class="row">
        <dt class="col-sm-3 col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9 col-md-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3 col-md-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-9 col-md-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-3 col-md-2">
            @Html.DisplayNameFor(model => model.PartType)
        </dt>
        <dd class="col-sm-9 col-md-10">
            @Html.DisplayFor(model => model.PartType.Name)
        </dd>
    </dl>
</div>
<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edytuj</a>
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left me-2"></i>Powrót do listy
    </a>
</div>