@model WarsztatSamochodowyApp.DTO.VehicleDto

@{
    ViewData["Title"] = "Usuń Pojazd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuń Pojazd</h1>

<h3 class="text-danger">Czy na pewno chcesz usunąć ten pojazd?</h3>
<div class="mt-4">
    <h4>Dane do usunięcia</h4>
    <hr class="border-secondary"/>
    <dl class="row">
        <dt class="col-sm-3 col-md-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class="col-sm-9 col-md-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class="col-sm-3 col-md-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-9 col-md-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-3 col-md-2">
            @Html.DisplayNameFor(model => model.ClientFullName)
        </dt>
        <dd class="col-sm-9 col-md-10">
            @Html.DisplayFor(model => model.ClientFullName)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Tak, usuń" class="btn btn-danger"/>
        <a asp-action="Index" class="btn btn-outline-secondary">Anuluj</a>
    </form>
</div>