@model WarsztatSamochodowyApp.DTO.VehicleDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientFullName)
        </dd>
        <dt class="col-sm-2">
            Zdjencie
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" alt="Zdjęcie pojazdu" style="max-width:300px;"/>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
