@model IEnumerable<WarsztatSamochodowyApp.DTO.VehicleDto>

@{
    ViewData["Title"] = "Lista Pojazdów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista Pojazdów</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowy pojazd</a>
</p>
<table class="table table-dark table-striped table-hover align-middle">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            Zdjęcie
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientFullName)
        </th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.ImageUrl))
                {
                    <img src="@item.ImageUrl" alt="Miniatura" class="img-thumbnail"
                         style="width: 100px; height: 60px; object-fit: cover;"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientFullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>