@model IEnumerable<WarsztatSamochodowyApp.DTO.ServiceTaskDto>

@{
    ViewData["Title"] = "Lista Zadań Serwisowych";
}

<h1>Zadania Serwisowe</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj nowe zadanie</a>
</p>

<table class="table table-dark table-striped table-hover align-middle">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Koszt całkowity</th>
        <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@task.TotalCost.ToString("C")</td>
            <td>
                <a asp-action="Details" asp-route-id="@task.Id" class="btn btn-info btn-sm">Szczegóły</a>
                <a asp-action="Edit" asp-route-id="@task.Id" class="btn btn-warning btn-sm">Edytuj</a>
                <a asp-action="Delete" asp-route-id="@task.Id" class="btn btn-danger btn-sm">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>