@model IEnumerable<WarsztatSamochodowyApp.DTO.ServiceTaskDto>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Cena</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        var partsCost = task.UsedParts?.Sum(up => up.Quantity * (up.Part?.Price ?? 0)) ?? 0;
        var totalPrice = task.Price + partsCost;

        <tr>
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@totalPrice.ToString("C")</td>
            <td>
                <a asp-action="Details" asp-route-id="@task.Id">Szczegóły</a> |
                <a asp-action="Edit" asp-route-id="@task.Id">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@task.Id">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>
